<h2>
	<%= link_to 'categories', root_path %>
	<%= @category.title %>/
	products
</h2>

<ol>
	<% @products.each do |product| %>
	<li>
		<%= product.title %> (<%= product.price %> Rupees)

		<%= form_tag order_items_path do %>
		<%= hidden_field_tag :product_id, product.id %>
		<%= number_field_tag :quantity, 1 %>
		<%= submit_tag "add to cart" %>
		<% end %>







		<ul>
			<% product.variants.each do  |variant| %>
			<li>
				<%= variant.title %>(<%= variant.price %>)
			</li>
			<% end %>
		</ul>
	</li>
	<% end %>
</ol>